@font-face {
    font-family: electrolize;
    src: url('../fonts/Electrolize/Electrolize-Regular.ttf');
}
@font-face {
    font-family: jura;
    src: url('../fonts/Jura/Jura-DemiBold.ttf');
}
@font-face {
    font-family: exo;
    src: url('../fonts/Exo/Exo-Regular.ttf');
}