body
{
	background: transparent url('../images/simple-backgrounds-06.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
}
#slide_1
{
	background: transparent url('../images/bgr00.png') top left;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_1 .label_1
{
	width: 789;
	height: 100;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 0%;
	margin-left: 12%;
}

#slide_1 .label_2
{
	width: 334;
	height: 48;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 68%;
	margin-left: 11%;
}

#slide_1 .label_3
{
	width: 205;
	height: 45;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 65%;
	margin-left: 12%;
}

#slide_1 .label_6
{
	width: 806;
	height: 213;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 21%;
	margin-left: 9%;
}

#slide_1 .label_7
{
	width: 880;
	height: 160;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 32%;
	margin-left: 6%;
}

#slide_1 .image_8
{
	position: absolute;
	margin-top: 46%;
	margin-left: 36%;
}

#slide_2
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_2 .label_4
{
	width: 852;
	height: 70;
	font-size: 48pt;
	font-family: jura;
	position: absolute;
	margin-top: 1%;
	margin-left: 9%;
}

#slide_2 .image_2
{
	position: absolute;
	margin-top: 48%;
	margin-left: 9%;
}

#slide_2 .label_3
{
	width: 818;
	height: 560;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 14%;
	margin-left: 9%;
}

#slide_3
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_3 .label_1
{
	width: 858;
	height: 325;
	font-size: 48pt;
	font-family: jura;
	position: absolute;
	margin-top: 16%;
	margin-left: 7%;
}

#slide_4
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_4 .label_2
{
	width: 784;
	height: 232.5;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 9%;
	margin-left: 12%;
}

#slide_4 .image_3
{
	position: absolute;
	margin-top: 39%;
	margin-left: 8%;
}

#slide_6
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_6 .label_1
{
	width: 812;
	height: 162.5;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 19%;
	margin-left: 10%;
}

#slide_7
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_7 .image_2
{
	position: absolute;
	margin-top: 43%;
	margin-left: 4%;
}

#slide_7 .label_1
{
	width: 873;
	height: 320;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 18%;
	margin-left: 4%;
}

#slide_8
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_8 .label_1
{
	width: 953;
	height: 320;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 14%;
	margin-left: 1%;
}

#slide_9
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_9 .image_1
{
	position: absolute;
	margin-top: -3%;
	margin-left: 27%;
}

#slide_9 .image_2
{
	position: absolute;
	margin-top: 56%;
	margin-left: 39%;
}

#slide_9 .label_3
{
	width: 873;
	height: 90;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 52%;
	margin-left: 6%;
}

#slide_10
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_10 .label_4
{
	width: 826;
	height: 440;
	font-size: 36pt;
	font-family: jura;
	position: absolute;
	margin-top: 14%;
	margin-left: 10%;
}

#slide_10 .label_1
{
	width: 868;
	height: 82;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 2%;
	margin-left: 9%;
}

#slide_10 .image_3
{
	position: absolute;
	margin-top: 41%;
	margin-left: 13%;
}

#slide_11
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_11 .label_1
{
	width: 857;
	height: 93;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 2%;
	margin-left: 9%;
}

#slide_11 .label_2
{
	width: 870;
	height: 850;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 13%;
	margin-left: 9%;
}

#slide_12
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_12 .label_1
{
	width: 926;
	height: 78;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: -1%;
	margin-left: 2%;
}

#slide_12 .image_3
{
	position: absolute;
	margin-top: 50%;
	margin-left: 15%;
}

#slide_12 .label_2
{
	width: 901;
	height: 800;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 9%;
	margin-left: 2%;
}

#slide_13
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_13 .label_1
{
	width: 913;
	height: 68;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 1%;
	margin-left: 3%;
}

#slide_13 .label_2
{
	width: 721;
	height: 1040;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 11%;
	margin-left: 2%;
}

#slide_13 .image_3
{
	position: absolute;
	margin-top: 11%;
	margin-left: 58%;
}

#slide_14
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_14 .label_1
{
	width: 901;
	height: 213;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 18%;
	margin-left: 4%;
}

#slide_14 .label_2
{
	width: 600;
	height: 61;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 32%;
	margin-left: 18%;
}

#slide_15
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_15 .image_1
{
	position: absolute;
	margin-top: 4%;
	margin-left: 11%;
}

#slide_16
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_16 .image_1
{
	position: absolute;
	margin-top: 6%;
	margin-left: 11%;
}

#slide_17
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_17 .image_1
{
	position: absolute;
	margin-top: 6%;
	margin-left: 9%;
}

#slide_18
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_18 .image_1
{
	position: absolute;
	margin-top: 9%;
	margin-left: 11%;
}

#slide_19
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_19 .image_1
{
	position: absolute;
	margin-top: 6%;
	margin-left: 8%;
}

#slide_20
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_20 .image_1
{
	position: absolute;
	margin-top: 8%;
	margin-left: 8%;
}

#slide_20 .label_2
{
	width: 866;
	height: 213;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 2%;
	margin-left: 8%;
}

#slide_22
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_22 .label_2
{
	width: 847;
	height: 252;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 14%;
	margin-left: 8%;
}

#slide_22 .label_1
{
	width: 852;
	height: 78;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 2%;
	margin-left: 9%;
}

#slide_23
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_23 .label_1
{
	width: 855;
	height: 80;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: -2%;
	margin-left: 9%;
}

#slide_23 .label_2
{
	width: 861;
	height: 743;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 8%;
	margin-left: 9%;
}

#slide_23 .image_3
{
	position: absolute;
	margin-top: 53%;
	margin-left: 16%;
}

#slide_24
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_24 .image_3
{
	position: absolute;
	margin-top: -8%;
	margin-left: 25%;
}

#slide_24 .image_4
{
	position: absolute;
	margin-top: 58%;
	margin-left: 39%;
}

#slide_24 .image_5
{
	position: absolute;
	margin-top: 58%;
	margin-left: 48%;
}

#slide_24 .image_6
{
	position: absolute;
	margin-top: 58%;
	margin-left: 57%;
}

#slide_24 .label_7
{
	width: 806;
	height: 240;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 43%;
	margin-left: 9%;
}

#slide_26
{
	background: transparent url('../images/bgr00.png') top left;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 50%;
	left: 50%;
}
#slide_26 .label_2
{
	width: 746;
	height: 213;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 28%;
	margin-left: 14%;
}

#slide_26 .label_3
{
	width: 205;
	height: 110;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 63%;
	margin-left: 78%;
}

#slide_26 .label_4
{
	width: 600;
	height: 170;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 63%;
	margin-left: 8%;
}

#slide_26 .image_5
{
	position: absolute;
	margin-top: 46%;
	margin-left: 39%;
}

#slide_26 .label_6
{
	width: 600;
	height: 80;
	font-size: 30pt;
	font-family: Serif;
	position: absolute;
	margin-top: 2%;
	margin-left: 20%;
}

