body
{
	background: transparent url('../images/simple-backgrounds-08.jpg');
	background-size: cover;
	font-family: jura, electrolize, tahoma;
	font-size: 21pt;
	width: 100%;
	height: 100%;
}
.impress-enabled
{
}
.impress-enabled .step
{
	margin: 0;
	opacity: 0.1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.impress-enabled .step.active
{
	opacity: 1;
}

.impress-support
{
	background: rgba(0, 0, 0, 0.9);
	width: 780px;
	margin: 100px auto;
	padding: 20px;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	font-family: jura, electrolize, sans-serif;
	color: #CCCCCC;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
	line-height: 1em;
	font-size: 1.5em;
}
.impress-supported
{
}
.impress-supported .impress-support
{
	display: none;
}

#slide_1
{
	background: transparent url('../images/bgr00.png') top left;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_1 .label_1
{
	width: 902px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 151px;
	margin-left: 37px;
	top: 0;
	left: 0;
}

#slide_1 .label_2
{
	width: 547px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 19px;
	margin-left: 207px;
	top: 0;
	left: 0;
}

#slide_1 .label_3
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 353px;
	margin-left: 199px;
	top: 0;
	left: 0;
}

#slide_1 .label_4
{
	width: 424px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 517px;
	margin-left: 74px;
	top: 0;
	left: 0;
}

#slide_1 .label_5
{
	width: 341px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 525px;
	margin-left: 680px;
	top: 0;
	left: 0;
}

#slide_1 .label_6
{
	width: 414px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 539px;
	margin-left: 73px;
	top: 0;
	left: 0;
}

#slide_1 .label_7
{
	width: 353px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 545px;
	margin-left: 685px;
	top: 0;
	left: 0;
}

#slide_1 .image_8
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 452px;
	margin-left: 332px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_3 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_4 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_5 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_6 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_7 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_2
{
	background: transparent url('../images/bgr00.png') top left;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_2 .label_1
{
	width: 861px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 9px;
	margin-left: 87px;
	top: 0;
	left: 0;
}

#slide_2 .label_2
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 150px;
	margin-left: 117px;
	top: 0;
	left: 0;
}

#slide_2 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 361px;
	margin-left: 103px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_3
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_3 .label_1
{
	width: 826px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 101px;
	margin-left: 77px;
	top: 0;
	left: 0;
}

#slide_3 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 360px;
	margin-left: 102px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_4
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_4 .label_1
{
	width: 844px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 38px;
	margin-left: 59px;
	top: 0;
	left: 0;
}

#slide_4 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 363px;
	margin-left: 101px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_5
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_5 .label_1
{
	width: 883px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 93px;
	margin-left: 5px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_6
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_6 .label_1
{
	width: 822px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 141px;
	margin-left: 74px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_7
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_7 .label_1
{
	width: 846px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 147px;
	margin-left: 69px;
	top: 0;
	left: 0;
}

#slide_7 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 362px;
	margin-left: 100px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_8
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_8 .label_1
{
	width: 941px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 177px;
	margin-left: 9px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_9
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_9 .label_1
{
	width: 913px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 533px;
	margin-left: 23px;
	top: 0;
	left: 0;
}

#slide_9 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: -3px;
	margin-left: 241px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_10
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_10 .label_1
{
	width: 812px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 9px;
	margin-left: 89px;
	top: 0;
	left: 0;
}

#slide_10 .label_2
{
	width: 847px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 150px;
	margin-left: 118px;
	top: 0;
	left: 0;
}

#slide_10 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 363px;
	margin-left: 98px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_11
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_11 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 91px;
	margin-left: 219px;
	top: 0;
	left: 0;
}

#slide_11 .label_2
{
	width: 746px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 260px;
	margin-left: 155px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_13
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_13 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 88px;
	margin-left: 219px;
	top: 0;
	left: 0;
}

#slide_13 .label_2
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 354px;
	margin-left: 227px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_14
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_14 .label_1
{
	width: 813px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 9px;
	margin-left: 88px;
	top: 0;
	left: 0;
}

#slide_14 .label_2
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 150px;
	margin-left: 115px;
	top: 0;
	left: 0;
}

#slide_14 .image_4
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 100px;
	margin-left: 598px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_15
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_15 .label_1
{
	width: 927px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 156px;
	margin-left: 9px;
	top: 0;
	left: 0;
}

#slide_15 .label_2
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 354px;
	margin-left: 182px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_16
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_16 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 25px;
	margin-left: 27px;
}

#slide_17
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_17 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 25px;
	margin-left: 28px;
}

#slide_18
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_18 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 27px;
	margin-left: 31px;
}

#slide_19
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_19 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 25px;
	margin-left: 29px;
}

#slide_20
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_20 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 25px;
	margin-left: 26px;
}

#slide_21
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_21 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 53px;
	margin-left: 85px;
}

#slide_23
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_23 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 104px;
	margin-left: 80px;
}

#slide_23 .image_4
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: -1px;
	margin-left: 411px;
}

#slide_23 .image_5
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 125px;
	margin-left: 333px;
}

#slide_23 .label_6
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 318px;
	margin-left: 195px;
	top: 0;
	left: 0;
}

.label_6 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_24
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_24 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 24px;
	margin-left: 26px;
}

#slide_25
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_25 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 49px;
	margin-left: 217px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_26
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_26 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 10px;
	margin-left: 82px;
	top: 0;
	left: 0;
}

#slide_26 .label_2
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 143px;
	margin-left: 115px;
	top: 0;
	left: 0;
}

#slide_26 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 359px;
	margin-left: 100px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_27
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_27 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 8px;
	margin-left: 83px;
	top: 0;
	left: 0;
}

#slide_27 .label_2
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 141px;
	margin-left: 117px;
	top: 0;
	left: 0;
}

#slide_27 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 360px;
	margin-left: 101px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_28
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_28 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 2px;
	margin-left: 385px;
}

#slide_28 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 386px;
	margin-left: 421px;
}

#slide_28 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 387px;
	margin-left: 495px;
}

#slide_28 .image_4
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 388px;
	margin-left: 568px;
}

#slide_28 .label_5
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 293px;
	margin-left: 206px;
	top: 0;
	left: 0;
}

#slide_28 .label_6
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 453px;
	margin-left: 229px;
	top: 0;
	left: 0;
}

.label_5 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_6 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_29
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_29 .label_1
{
	width: 746px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 91px;
	margin-left: 152px;
	top: 0;
	left: 0;
}

#slide_29 .label_2
{
	width: 937px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 148px;
	margin-left: 18px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_30
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_30 .label_1
{
	width: 751px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 153px;
	margin-left: 152px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_31
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_31 .label_1
{
	width: 528px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 18px;
	margin-left: 250px;
	top: 0;
	left: 0;
}

#slide_31 .label_2
{
	width: 796px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 221px;
	margin-left: 155px;
	top: 0;
	left: 0;
}

#slide_31 .label_3
{
	width: 205px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 554px;
	margin-left: 722px;
	top: 0;
	left: 0;
}

#slide_31 .label_4
{
	width: 336px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 582px;
	margin-left: 724px;
	top: 0;
	left: 0;
}

#slide_31 .label_5
{
	width: 331px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 552px;
	margin-left: 68px;
	top: 0;
	left: 0;
}

#slide_31 .label_6
{
	width: 293px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 582px;
	margin-left: 71px;
	top: 0;
	left: 0;
}

#slide_31 .image_7
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 503px;
	margin-left: 384px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_3 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_4 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_5 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_6 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

