body
{
	background: transparent url('../images/simple-backgrounds-08.jpg');
	background-size: cover;
	font-family: jura, electrolize, tahoma;
	font-size: 21pt;
	width: 100%;
	height: 100%;
}
.impress-enabled
{
}
.impress-enabled .step
{
	margin: 0;
	opacity: 0.1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.impress-enabled .step.active
{
	opacity: 1;
}

.impress-support
{
	background: rgba(0, 0, 0, 0.9);
	width: 780px;
	margin: 100px auto;
	padding: 20px;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	font-family: jura, electrolize, sans-serif;
	color: #CCCCCC;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
	line-height: 1em;
	font-size: 1.5em;
}
.impress-supported
{
}
.impress-supported .impress-support
{
	display: none;
}

#slide_1
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_1 .label_1
{
	width: 670px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 8px;
	margin-left: 183px;
	top: 0;
	left: 0;
}

#slide_1 .label_2
{
	width: 842px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 155px;
	margin-left: 86px;
	top: 0;
	left: 0;
}

#slide_1 .label_3
{
	width: 865px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 300px;
	margin-left: 63px;
	top: 0;
	left: 0;
}

#slide_1 .label_4
{
	width: 261px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 499px;
	margin-left: 149px;
	top: 0;
	left: 0;
}

#slide_1 .label_5
{
	width: 266px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 502px;
	margin-left: 659px;
	top: 0;
	left: 0;
}

#slide_1 .image_6
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 430px;
	margin-left: 426px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_3 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_4 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_5 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_2
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_2 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 135px;
	margin-left: 150px;
	top: 0;
	left: 0;
}

#slide_2 .label_2
{
	width: 347px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 414px;
	margin-left: 278px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_3
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_3 .label_1
{
	width: 844px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 160px;
	margin-left: 86px;
	top: 0;
	left: 0;
}

#slide_3 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 299px;
	margin-left: 95px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_4
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_4 .label_1
{
	width: 911px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 144px;
	margin-left: 26px;
	top: 0;
	left: 0;
}

#slide_4 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 312px;
	margin-left: 67px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_5
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_5 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 150px;
	margin-left: 181px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_6
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_6 .label_1
{
	width: 749px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 152px;
	margin-left: 152px;
	top: 0;
	left: 0;
}

#slide_6 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 310px;
	margin-left: 110px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_7
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_7 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 150px;
	margin-left: 202px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_8
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_8 .label_1
{
	width: 722px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 483px;
	margin-left: 138px;
	top: 0;
	left: 0;
}

#slide_8 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: -22px;
	margin-left: 237px;
}

#slide_8 .label_3
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 577px;
	margin-left: 194px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_3 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_9
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_9 .label_1
{
	width: 854px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 9px;
	margin-left: 81px;
	top: 0;
	left: 0;
}

#slide_9 .label_2
{
	width: 824px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 153px;
	margin-left: 84px;
	top: 0;
	left: 0;
}

#slide_9 .label_3
{
	width: 852px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 206px;
	margin-left: 131px;
	top: 0;
	left: 0;
}

#slide_9 .image_4
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 368px;
	margin-left: 116px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_3 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_10
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_10 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 128px;
	margin-left: 179px;
	top: 0;
	left: 0;
}

#slide_10 .label_2
{
	width: 353px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 301px;
	margin-left: 304px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_11
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_11 .label_1
{
	width: 867px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 9px;
	margin-left: 85px;
	top: 0;
	left: 0;
}

#slide_11 .label_2
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 152px;
	margin-left: 128px;
	top: 0;
	left: 0;
}

#slide_11 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 106px;
	margin-left: 604px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_12
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_12 .label_1
{
	width: 724px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 152px;
	margin-left: 153px;
	top: 0;
	left: 0;
}

#slide_12 .label_2
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 324px;
	margin-left: 208px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_13
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_13 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 0px;
	margin-left: 89px;
}

#slide_14
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_14 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 26px;
	margin-left: 25px;
}

#slide_15
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_15 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 25px;
	margin-left: 30px;
}

#slide_16
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_16 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 24px;
	margin-left: 26px;
}

#slide_17
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_17 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 28px;
	margin-left: 29px;
}

#slide_18
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_18 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 25px;
	margin-left: 26px;
}

#slide_19
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_19 .label_1
{
	width: 475px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 67px;
	margin-left: 252px;
	top: 0;
	left: 0;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_20
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_20 .label_1
{
	width: 771px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 9px;
	margin-left: 82px;
	top: 0;
	left: 0;
}

#slide_20 .label_2
{
	width: 770px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 127px;
	margin-left: 116px;
	top: 0;
	left: 0;
}

#slide_20 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 357px;
	margin-left: 45px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_21
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_21 .label_1
{
	width: 819px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 7px;
	margin-left: 82px;
	top: 0;
	left: 0;
}

#slide_21 .label_2
{
	width: 769px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 121px;
	margin-left: 114px;
	top: 0;
	left: 0;
}

#slide_21 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 311px;
	margin-left: 95px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_22
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_22 .image_1
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 148px;
	margin-left: 90px;
}

#slide_22 .label_2
{
	width: 751px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 235px;
	margin-left: 152px;
	top: 0;
	left: 0;
}

#slide_22 .label_3
{
	width: 743px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 386px;
	margin-left: 155px;
	top: 0;
	left: 0;
}

#slide_22 .image_4
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 324px;
	margin-left: 430px;
}

#slide_22 .image_5
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 322px;
	margin-left: 494px;
}

#slide_22 .image_6
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 323px;
	margin-left: 562px;
}

#slide_22 .image_7
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: -21px;
	margin-left: 382px;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_3 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_23
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_23 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 151px;
	margin-left: 151px;
	top: 0;
	left: 0;
}

#slide_23 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 247px;
	margin-left: 74px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_24
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_24 .label_1
{
	width: 687px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 27px;
	margin-left: 183px;
	top: 0;
	left: 0;
}

#slide_24 .label_2
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 203px;
	margin-left: 210px;
	top: 0;
	left: 0;
}

#slide_24 .label_3
{
	width: 267px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 610px;
	margin-left: 33px;
	top: 0;
	left: 0;
}

#slide_24 .label_4
{
	width: 205px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 591px;
	margin-left: 760px;
	top: 0;
	left: 0;
}

#slide_24 .image_5
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 555px;
	margin-left: 351px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_3 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_4 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_25
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_25 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 152px;
	margin-left: 200px;
	top: 0;
	left: 0;
}

#slide_25 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 302px;
	margin-left: -122px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_26
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_26 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 152px;
	margin-left: 202px;
	top: 0;
	left: 0;
}

#slide_26 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 286px;
	margin-left: 271px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_27
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_27 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 122px;
	margin-left: 203px;
	top: 0;
	left: 0;
}

#slide_27 .image_2
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 256px;
	margin-left: 270px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

#slide_28
{
	background: transparent;
	background-size: 100% 100%;
	position: relative;
	width: 960px;
	height: 720px;
	top: 40%;
	left: 50%;
	font-family: jura, electrolize, tahoma;
}
#slide_28 .label_1
{
	width: 600px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 177px;
	margin-left: 201px;
	top: 0;
	left: 0;
}

#slide_28 .label_2
{
	width: 709px;
	height: auto;
	padding: 0px;
	font-family: Serif;
	position: absolute;
	margin-top: 24px;
	margin-left: 155px;
	top: 0;
	left: 0;
}

#slide_28 .image_3
{
	position: absolute;
	width: undefined;
	height: undefined;
	top: 0;
	left: 0;
	margin-top: 128px;
	margin-left: 78px;
}

.label_1 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

.label_2 *
{
	padding: 0;
	margin: 0;
	position: relative;
}

