@import "fonts.less";
@import "mixins.less";

@background-top-color: rgba(44,66,82, 1);
@background-top-image: url("../images/background-photo-fade.png");
@foreground-top: #ffffff;

@background-strip-image: url("../images/line-strip.png");
@background-strip-image: #2c3e50;
@foreground-line: #535353;

@background-section-about: #ecf0f1;
@foreground-section-about: #262525;
@background-section-work: #e6ddbc;
@foreground-section-work: #262525;
@background-section-contacts: #2c3e50;
@foreground-section-contacts: #e6ddbc;



html, body {
	width: 100%;
	height: 100%;
	font-family: "TitilliumWeb-Regular";

	text-align: center;
	margin: 0;
	padding: 0;
}

.top {
	width: 100%;
	height: 100%;
	position: relative;
	background: @background-top-color;
	color: @foreground-top;
	text-align: right;

	&.added-image {
		.background {
			opacity: 1;
		}
	}

	.background {
		background: @background-top-image no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0;
		.transition;
	}

	.content-block {
		float: none;
		margin: 30% auto;
	}

	.name {
		font-size: 64px;
		display: none;
	}
	.description {
		font-size: 29px;
		display: none;
		padding-right: 2px;

		img {
			margin: -5px 10px 0 0;
			opacity: 0.5;
			cursor: pointer;
			.transition;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.line {
	width: 100%;
	height: 64px;
	background: @background-strip-image repeat-x;
	color: @foreground-line;

	p {
		padding: 20px 0;
	}
}

#main-line {
	display: none;

	position: relative;
  margin-top: -64px;
  z-index: 1000;

  &.fixed {
  	position: fixed;
  	margin: 0;
  	top: 0;
  }

  .center-menu {
  	width: 252px;
		height: auto;
		margin: 0 auto;
  }

  a {
  	display: inline-block;
  	position: relative;
  }
}

.section {
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 100;

	&.section-about {
		background: @background-section-about;
		color: @foreground-section-about;
		min-height: 100%;

		.about-icons {
			float: none;
			margin: 50px auto;
		}

		p.description {
			font-size: 21px;
			margin: 0 auto;
			float: none;
		}

		.col-3 {
			width: 33%;
			position: relative;
			float: left;
		}
		.col-offset-1 {
			margin-left: 16%;
		}
		.col-offset-2 {
			margin-left: 33%;
		}
	}

	&.section-work {
		background: @background-section-work;
		color: @foreground-section-work;
		/* min-height: 100%; */
	}

	&.section-contacts {
		background: @background-section-contacts;
		color: @foreground-section-contacts;

		.social {
			width: 520px;
    		margin: 0 auto 100px auto;
		}
	}

	.title {
		margin: 100px auto 50px auto;
		font-size: 48px;
	}

	.content {
		margin: 10px auto;
		font-size: 27px;
	}

	.col {
		margin: 0;
		padding: 0;

		overflow: hidden;

		img {
			width: 100%;
			.transition;
			cursor: pointer;
		}

		&:hover {
			img {
				.transform(scale(1.1));
			}
		}
	}

}

.work-project {
	opacity: 0;
}

.social-icon {
	width: 110px;
	height: 110px;
	background: url("../images/icons-social.png");
	position: relative;
	display: block;
	float: left;
	margin: 10px;
	cursor: pointer;
	display: none;
	.transition;

	&:hover {
		.transform(scale(1.1));
	}

	&.åmail {

	}
	&.linkedin {
		background-position: -110px 0;
	}
	&.github {
		background-position: -220px 0;
	}
	&.behance {
		background-position: -330px 0;
	}
}

.navigation-icon {
	width: 48px;
	height: 48px;
	background: url("../images/icons-navigation-48.png");
	position: relative;
	display: block;
  	.transition(0.1s);
  	opacity: 0.9;
  	margin: 8px 5px 0 5px;
	float: left;

  	&:hover {
		opacity: 1;
  	}

	&.about {
		background-position: 0 0;
	}
	&.work {
		background-position: -48px 0;
	}
	&.contacts {
		background-position: -96px 0;
	}
	&.blog {
		background-position: -144px 0;
	}
}

.about-icon {
	width: 128px;
	height: 128px;
	background: url("../images/icons-about.png");
	position: relative;
	display: block;
  	.transition;
	cursor: pointer;
	margin: 0 auto;
	opacity: 0;

  	&:hover {
		.transform(scale(1.1));
  	}

	&.javascript {
		background-position: 0 0;
	}
	&.apple {
		background-position: -128px 0;
	}
	&.linux {
		background-position: -256px 0;
	}
	&.php {
		background-position: -384px 0;
	}
	&.html5 {
		background-position: -512px 0;
	}
	&.css3 {
		background-position: -640px 0;
	}
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.vertical-spacer {
	height: 200px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 640px;
  margin: 20px auto;

  img {
  	opacity: 1;
  	margin: 20px auto;
  }
}

footer {
	background: #262525;
	text-align: center;
	padding: 10px;
	color: #535353;
	font-size: 12px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(0.3);

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  transform: scale(0.3);
}




.btn {
	.border-radius(0);
}