@import "fonts.less";
@import "mixins.less";

@background-top-color: rgba(44,66,82, 1);
@background-top-image: url("../images/background-photo-fade.png");
@foreground-top: #ffffff;

@background-strip-image: url("../images/line-strip.png");
@foreground-line: #535353;

@background-section-about: #ecf0f1;
@background-section-work: #e6ddbc;
@background-section-contacts: #2c3e50;

html, body {
	width: 100%;
	height: 100%;
	font-family: "TitilliumWeb-Regular";

	text-align: center;
	margin: 0;
	padding: 0;
}

.top {
	width: 100%;
	height: 100%;
	position: relative;
	background: @background-top-color;
	color: @foreground-top;
	text-align: right;

	&.added-image {
		.background {
			opacity: 1;
		}
	}

	.background {
		background: @background-top-image no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0;
		.transition;
	}

	.content-block {
		float: none;
		margin: 30% auto;
	}

	.name {
		font-size: 64px;
		display: none;
	}
	.description {
		font-size: 29px;
		display: none;

		img {
			margin: -5px 10px 0 0; 
			opacity: 0.5;
			cursor: pointer;
			.transition;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.line {
	width: 100%;
	height: 100px;
	background: @background-strip-image repeat-x;
	color: @foreground-line;

	p {
		padding: 20px 0;
	}
}

#main-line {
	display: none;

	position: relative;
  margin-top: -100px;
  z-index: 1000;

  &.fixed {
  	position: fixed;
  	margin: 0;
  	top: 0;
  }

  a {
  	img {
  		.transition;
  		opacity: 0.6;
  		margin: 16px 10px 0 10px;
  	}

  	&:hover {
  		img {
  			opacity: 1;
  		}
  	}
  }
}

.section {
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 100;

	&.section-about {
		background: @background-section-about;
	}

	&.section-work {
		background: @background-section-work;
	}

	&.section-contacts {
		background: @background-section-contacts;
	}

	.col {
		margin: 0;
		padding: 0;
	}

	img {
		width: 100%;
	}
}
